<h2>head</h2>
<form action="/celebrities/{{editedCeleb.id}}/edit" method="POST">
<input type="text" name="name" value="{{editedCeleb.name}}">
<input type="text" name="occupation" value="{{editedCeleb.occupation}}">
<input type="text" name="catchPhrase" value="{{editedCeleb.catchPhrase}}">
    <button type="submit">EDIT</button>