<h2> Create New Celebs</h2>

<form action="/celebrities/new" method="POST">


    <label for="">Whatever</label>
    <input type="text" name="name">

<label for="">Whatever</label>
    <input type="text" name="occupation">

<label for="">Whatever</label>

    <input type="text" name="catchPhrase">
    <br>

    <button class="submit-button" type="submit">SUBMIT</button>
